.my_page-body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  line-height: 57px;
  color: #ffffff;
  margin: 0;
}

.mainblock {
  width: 1440px;
  background-color: #e5e000;
  margin: 0 auto;
}

.mainblock__header-title {
  margin: 0 auto;
  padding: 80px;
  *text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 10px;
  text-underline-position: under;
}
.mainblock__content-background {
  height: 1280px;
  background-image: url("../img/img.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.mainblock__content-links {
  font-size: 25px;
  line-height: 29px;
}

.mainblock__content-links-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0 80px;
}
.mainblock__content-links-list a {
  text-decoration: none;
  color: #ffffff;
  position: relative;
  display: inline-block;
  outline: none;
  padding: 0 20px;
  height: 45px;
  color: #ffffff;
  line-height: 45px;

  text-transform: uppercase;
  letter-spacing: 1px;
}
div[class^="mainblock__content-links-list"] {
  margin: 0 auto;
  padding: 30px 0;

  text-align: center;
}

.mainblock__content-links-list a::before,
.mainblock__content-links-list a::after {
  position: absolute;
  width: 45px;
  height: 2px;
  background-color: #ffffff;
  content: "";
  opacity: 0.2;
  transition: all 0.3s;
}

.mainblock__content-links-list a::before {
  top: 0;
  left: 0;
  transform: rotate(90deg);
  transform-origin: 0 0;
}

.mainblock__content-links-list a::after {
  right: 0;
  bottom: 0;
  transform: rotate(90deg);
  transform-origin: 100% 100%;
}

.mainblock__content-links-list a:hover::before {
  left: 50%;
  opacity: 1;
  transform: rotate(0deg) translateX(-50%);
}

.mainblock__content-links-list a:hover::after {
  right: 50%;
  opacity: 1;
  transform: rotate(0deg) translateX(50%);
}
.mainblock__content-text {
  padding: 100px 80px;
  color: #000000;
  background-color: #ffffff;
}
.mainblock__content-text h2 {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 10px;
  text-underline-position: under;
}

.mainblock__content-text p {
  font-weight: 300;
  line-height: 57.5px;
}

.mainblock__footer {
}
.mainblock__footer-container {
  display: flex;
  justify-content: space-between;
  padding-left: 80px;
  padding-right: 80px;
  align-items: center;
}

/*Page about artist*/

.artist-body {
  font-family: "Times New Roman";
  font-size: 25px;
  line-height: 29px;
  color: #000000;
  margin: 0;
  width: 1140px;
}
.main {
  width: 1310px;
  margin: 96px 65px;
}
.main h1,
.main h2 {
  background: black;
  color: white;
}
.main h1 {
  font-size: 50px;
  line-height: 57px;
}
.main h2 {
  font-size: 40px;
  line-height: 46px;
}

.copyright {
  padding-top: 50px;
}

.links-list {
  padding-left: 25px;
}
