html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}

*,
*:after,
*::before {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Helvetica";
  font-weight: 700;
  font-size: 50px;
  line-height: 57px;
}

.container {
  max-width: 1460px;
  padding: 0 10px;
  margin: 0 auto;
}

.header__inner,
.footer__inner {
  background: #0000ff;
  font-family: "Helvetica";
  font-size: 25px;
  line-height: 29px;
  color: #ffffff;
  height: 100px;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.block {
  margin: 200px auto;
  display: grid;
  grid-template-columns: 600px 600px;
  grid-template-rows: 300px 300px;
  justify-content: center;
  gap: 20px;
}

.block_item {
  border: 5px solid #000000;
  width: 600px;
  height: 300px;
  text-align: center;
  display: flex;
  align-items: center;
}

@media (max-width: 1225px) {
  .block {
    display: flex;
    flex-wrap: wrap;
    margin: 50px auto;
  }
}

@media (max-width: 375px) {
  .block {
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto;
  }

  .block_item {
    width: 330px;
    height: 165px;
    font-size: 25px;
    line-height: 29px;
  }
}
