html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}

*,
*:after,
*::before {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Helvetica";
  font-weight: 700;
  font-size: 50px;
  line-height: 57px;
  height: 100%;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1460px;
  padding: 0 10px;
  margin: 0 auto;
}

.header__inner,
.footer__inner {
  background: #0000ff;
  font-family: "Helvetica";
  font-size: 25px;
  line-height: 29px;
  color: #ffffff;
  height: 100px;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main {
  flex: 1 0 auto;
}

.block {
  margin: 0 auto;
  padding: 200px 100px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 300px 300px;
  justify-content: center;
  gap: 20px;
}

.block_item {
  border: 5px solid #000000;
  text-align: center;
  display: flex;
  align-items: center;
}

@media (max-width: 860px) {
  body {
    font-size: 25px;
    line-height: 29px;
    min-width: 390px;
  }

  .block {
    margin: 0 auto;
    padding: 50px 30px;
  }
}

@media (max-width: 500px) {
  .container {
    max-width: 400px;
    padding: 0 5px;
  }

  .block {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    font-size: 25px;
    line-height: 29px;
  }

  .block_item {
    width: 330px;
    height: 165px;
  }
}
