html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}

*,
*:after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: "Arial";
  font-size: 25px;
  line-height: 29px;
  margin: 0;
  height: 100%;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
  padding: 140px 0 150px 0;
}

.header,
.footer {
  height: 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  font-size: 50px;
  line-height: 57px;
}

.header {
  color: #e50043;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.menu__list {
  padding: 0;
  display: flex;
  list-style: none;
}

.menu__list li {
  padding-right: 25px;
}

.menu__list li:last-child {
  padding-right: 50px;
}

.menu__link {
  text-decoration: none;
  position: relative;
  display: inline-block;
  outline: none;
  text-decoration: none;
  color: rgba(248, 191, 199, 1);
}

.effect-3 a::before {
  content: attr(data-hover);
  position: absolute;
  color: #e50043;
  transition: transform 0.3s, opacity 0.5s;
}

.effect-3 a:hover::before {
  opacity: 0;
  transform: scale(0.9);
}

.fullscreen {
  background-image: url("../img/evian_origins_logo.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 110vh;
}

.main .main__title {
  position: absolute;
  left: 50%;
  top: 62%;
  transform: translateX(-50%);
  font-size: 100px;
  line-height: 115px;
  color: #e50043;
}

.content {
  width: 1040px;
  margin: 0 auto;
  padding-top: 150px;
}

.water__block {
  padding: 24px;
}

.block {
  border: 3px solid #f8bfc7;
  border-radius: 20px;
}

.block__text {
  letter-spacing: 0.05em;
  margin: 0 0 25px 0;
  list-style: none;
  padding: 0;
}

.block__text:last-child {
  margin: 0;
}

.water__cards {
  margin: 100px 0;
  display: flex;
  justify-content: space-between;
}

.water__item {
  margin: 0;
  width: 280px;
}

.item-caption {
  text-align: center;
  margin: 48px 0 0 0;
}

.compositin__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.block-pic {
  margin: 30px 80px;
}

.footer {
  background-color: #f8bfc7;
  color: #ffffff;
}
