html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

*,
*:after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: "Times New Roman";
  font-style: normal;
  font-size: 20px;
  line-height: 25px;
  color: #000000;
  height: 100%;
}

.header__inner,
.footer__inner {
  background-color: #ffe138;
  font-size: 50px;
  line-height: 57px;
  text-transform: uppercase;
  text-align: center;
  padding: 55px 0;
}

.footer__inner {
  text-transform: none;
}

.cards {
  margin: 0;
  padding: 0;
}

.cards__row {
  display: flex;
  gap: 50px;
  margin: 70px;
}

.cards__column {
  flex: 0 1 33.333%;
}

.cards__item {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid #000000;
}

.cards__image {
  margin: 0 0 20px 0;
  padding: 0 0 150% 0;
  position: relative;
}

.cards__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cards__body {
  padding: 0 30px;
}

.text-bold {
  font-weight: 700px;
}

@media (max-width: 825px) {
  .cards__row {
    display: flex;
    flex-direction: column;
  }
}
